@import url();
:root {
    --primary-color: darkblue;
    --light: lightblue;
    --dark: darkcyan;
    --font-family: Georgia, Helvetica;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.container {
    background-color: darkgoldenrod;
    width: 30rem;
    height: 30rem;
    padding: 3rem;
    margin: 5rem;
}
.display {
    width: 100%;
    height: 3rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    background-color: bisque;
    text-align: right;
    padding: 15px;
    font-size: large;
    font-weight: 300;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.btn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    
}
.btn button {
    font-weight: 900;
    width: 70px;
    height: 50px;
    color: brown;
    /* padding: 10px 15px; */
    border-radius: 10px;
    border: none;
    background-color: var(--light);
}

.operators {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}
.operators button {
    font-weight: 900;
    font-size: larg;
     width: 70px;
    height: auto;
    color: brown;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: var(--light);
}